@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<iframe width="560" height="315" 

			class="embed-responsive embed-responsive-21by9"

			src="https://www.youtube.com/embed/E51ZavgC4xc" 
			title="Perros de raza" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>


